.auth-form {
    margin: 30px auto 0 !important;

    @media only screen and (max-width: 767px) {
        margin: -10px auto 0 !important;

        .card {
            border: none;
        }
    }

    h1 {
        background: $body-bg-invert;
        color: $text-invert;
        border-radius: 3px;
        padding: 10px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-bottom: 40px;
        cursor: default;
    }

    form {
        border-right: none !important;
        padding: 0 !important;
        margin: 0 auto 0 !important;
        text-align: center !important;

        @media only screen and (max-width: 767px) {
            border: none !important;
        }

        .alert {
            background: $red;
            color: $text-invert;
            cursor: default;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font-weight: 700;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                word-spacing: 1px;
            }
        }

        .form-group {
            padding: 0 !important;
        }
    
        button {
            margin: 20px auto;
        }
    
        label {
            margin-top: 20px;
        }

        input {
            text-align: center;
        }
    }
}