.todolist-element {
    padding-top: 50px;
    margin: -25px auto 50px !important;
    width: 100%;

    @media only screen and (min-width: 768px) {

        .form-section, .list-section {
            overflow: hidden;
            white-space: nowrap;
            transition: .3s max-width, .3s padding, .3s flex;
        }

        .form-section {
            display: none;

            &.new-task-state {
                display: flex;
            }
        }

        .list-section {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;

            &.new-task-state {
                max-width: 66.66666667%;
                flex: 0 0 auto;
                padding: 0 0 0 25px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        padding-top: 20px;

        .list-section {
            margin-bottom: 50px;
        }

        .form-section {
            max-height: 0px;
            overflow: hidden;
            transition: .3s max-height;

            &.new-task-state {
                max-height: 1000px;
            }
        }
    }
}

.list-element {
    width: 100%;
    margin: 0 auto !important;
}

.existing-labels {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    min-height: 60px;
    width: 100%;
    overflow: hidden;

    .label {
        float: left;
        height: 28px;
        width: auto;
        padding: 0 10px;
        font-size: 12px;
        text-align: center;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;
        line-height: 26px;
        margin: 5px 10px 5px 0;
        transition: .3s border,.3s background,.3s color;
        white-space: nowrap;
        cursor: pointer;

        &:hover,&.selected {
            background: $body-bg-invert;
            color: $text-invert;
        }
    }
}

.tasks-filter {
    height: 50px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
    width: 100%;
    margin: 0 auto 20px !important;

    .existing-labels {
        display: flex;
        padding: 5px 10px;
        min-height: unset;
        max-height: 49px;
        overflow-x: scroll;

        .label {
            float: none;
            display: flex;

            svg {
                font-size: 16px;
                margin-top: 5px;
                margin-right: 7px;
            }
        }
    }
}

.next-tasks {
    background: $body-bg;
    border: 1px solid rgba(0,0,0,.2);
    margin: 0 0 5px;
    padding: 15px;
    border-radius: 3px;
    list-style: none;
    text-align: center;
    z-index: 0;
    transition: .5s margin;
    max-height: calc(100vh - 250px);
    overflow: hidden;
    overflow-y: scroll;

    @media only screen and (max-width: 767px) {
        height: auto;
        max-height: unset;
        overflow: hidden;
    }

    &.active {
        margin-top: 20px;
    }

    .task {
        position: relative;
        background: $body-bg;
        color: $text;
        border: 1px solid rgba(0,0,0,.2);
        width: 100%;
        margin: 0 auto 10px;
        border-radius: 5px;
        text-align: left;
        line-height: 48px;
        height: 50px;
        padding: 0;
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 1px;
        transition: .3s border;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            height: 100px;
            background: $body-bg-invert;
            color: $text-invert;
        }

        .selector {
            padding: 0 12px 0 15px;
            cursor: pointer;
            transition: .3s padding, .3s opacity;
            
            &.hidden {
                opacity: .2;
                pointer-events: none;
            }

            .task-actions {
                position: absolute;
                top: 0;
                right: 0;
                height: 50px;
                width: 50%;
                padding: 0 10px;
                overflow: hidden;

                @media only screen and (max-width: 767px) {
                    top: 50px;
                    width: 100%;
                    background: $body-bg;
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -15px;
            margin: auto;
            width: 15px;
            height: 60px;
            background: $highlight;
            border-radius: 50%;
            transition: .3s left;
            pointer-events: none;
            z-index: 2;

            @media only screen and (max-width: 767px) {
                height: 110px;
            }
        }

        &.new-task-toggle {
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            background: $highlight;

            @media only screen and (max-width: 767px) {
                height: 50px;
            }

            svg {
                font-size: 18px;
                vertical-align: middle;
                margin-bottom: 3px;
                margin-right: 5px;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
            padding-left: 15px;
            cursor: pointer;

            &:hover {
                border: 1px solid $body-bg-invert !important;
                
                .selector {
                    padding-left: 15px;
                }
            }

            &:before {
                left: -15px !important;
            }
        }

        &:hover {
            border: 1px solid $body-bg-invert;
            
            .status-button {
                border: 1px solid rgba(0,0,0,.5);
            }
            
            .selector {
                padding-left: 25px;
            }

            &:before {
                left: -5px;
            }
        }

        span {
            float: right;
            text-transform: uppercase;

            &.date-status {
                float: none !important;
                margin-left: 10px;
                padding: 7px 10px;
                border-radius: 3px;
                border: 1px solid rgba(0,0,0,.2);
                font-style: italic;

                svg {
                    font-size: 13px;
                    margin: 0px 3px -1px 0px;
                }
    
                @media only screen and (max-width: 767px) {
                    display: inline;
                    line-height: 33px;
                    padding: 7px 12px 7px 15px;
                    position: absolute;
                    right: 0;
                    background: $body-bg-invert;
                    border-left: 2px solid $body-bg;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .status-button {
            color: $text;
            height: 28px;
            width: 30px;
            padding: 0 0 0 1px;
            font-size: 14px;
            text-align: center;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 3px;
            margin-left: 5px;
            line-height: 26px;
            margin: 10px 0 0 10px;
            transition: .3s border, .3s background, .3s color;

            &.label {
                font-size: 10px;
                padding: 0 10px;
                width: auto;

                @media only screen and (max-width: 767px) {
                    max-width: 50%;
                    overflow: hidden;
                }
            }

            &.priority-HIGH {
                background: $red !important;
                color: $text-invert !important;
            }

            &.priority-MED {
                background: $yellow !important;
                color: $text-invert !important;
            }

            &.priority-LOW {
                background: $green !important;
                color: $text-invert !important;
            }

            &.complete:hover, &.delete:hover {
                background: $body-bg-invert;
                color: $text-invert;
            }

            svg {
                margin-right: 1px;

                &.fa-check {
                    font-size: 17px;
                    margin-top: 4px;
                }
            }
        }
    }
}