<template>
    <div>
        <nav class="navbar-auth">
            <ul class="auth-menu">
                <li v-bind:class="(this.$route.name=='dashboard')?'selected':''"><router-link :to="{name:'dashboard'}" class="nav-link">Welcome</router-link></li>
                <li v-bind:class="(this.$route.name=='todolist')?'selected':''"><router-link :to="{name:'todolist'}" class="nav-link">Todo List</router-link></li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.name }}</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="javascript:void(0)" @click="logout">Logout</a></div>
                </li>
            </ul>
        </nav>
        <main class="mt-3">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:"default-layout",
    data(){
        return {
            user:this.$store.state.auth.user
        }
    },
    methods:{
        ...mapActions({
            signOut:"auth/logout"
        }),
        async logout(){
            await axios.post('/logout').then(({data})=>{
                this.signOut()
                this.$router.push({name:"login"})
            })
        }
    }
}
</script>
